body {
    margin-top: 100px;
    text-align: center;
}
img {
    display: block;
    margin: 0 auto 20px;
}

.p1Button {
    background-color: aqua;
}
.p2Button {
    background-color: blue;
}
.reset {
    background-color: red;
}

button {
    padding: 5px 15px;
    font-size: 1.2em;
}
h1 {
    width: 30%;
    margin: 15px auto;
    border: 1px solid rgb(37, 36, 36);
}
.winner {
    color: green;
}
.looser {
    color: red;
}